* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: 10px;
	font-weight: 400;
	padding: 2rem;
	line-height: 1.7;
	color: $font-color-default;
	padding: 1rem;
}
