.header {
	width: 100%;
	height: 95vh;
	display: flex;

	.heading {
		@include alignCenterParent($width: 50%, $height: 100%);

		& .heading__primary {
			@include alignCenter($top: 40%, $left: 50%);
			& .heading__primary-text {
				& .heading__primary-text--main {
					font-size: 3rem;
					display: block;
					text-transform: uppercase;
					color: $color-primary-regular;
				}
				& .heading__primary-text--sub {
					font-size: 2.5rem;
					display: block;
				}
			}
		}
	}
	.hero {
		@include alignCenterParent($width: 50%, $height: 100%);
		& .hero__box {
			@include alignCenter($top: 40%, $left: 40%);
		}
		& .hero__img {
			max-width: 100%;
		}
	}
}
